@media all and (max-width: 56.1875em) {
  .header {   
    height: auto;
    justify-content: space-around;
  }
}
.logo > img {
  height: calc(var(--navbar-height) * 3);
}
.newsletter__note {
  display: none;
}

#belegarth-standard {
  counter-reset: section;

  ~ details {
    counter-increment: section;

    > ol {
      counter-reset: subsection;
      list-style: none;

      > li:before {
        counter-increment: subsection;
        content: counters(section, ".") "." counters(subsection, ".") " ";
        font-weight: bold;
      }

      ol {
        counter-reset: subsubsection;
        list-style: none;

        > li:before {
          counter-increment: subsubsection;
          content: counters(section, ".") "." counters(subsection, ".") "." counters(subsubsection, ".") " ";
          font-weight: bold;
        }
      }
    }
  }
}
